* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#00111a, #00334d);
    height: 100vh;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    color: white;
}

/* Canvas de nieve */
#nieve {
    position: fixed;
    top: 0;
    left: 0;
}

/* Contenedor central */
.contenedor {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 25%;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Contador */
#contador {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#contador div {
    background: rgba(255, 255, 255, 0.15);
    padding: 15px;
    border-radius: 10px;
    width: 90px;
}

#contador span {
    display: block;
    font-size: 2em;
    font-weight: bold;
}
